<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery.min.js"></script>

  <%= jba_js_include %>

  <script type='text/javascript'>
    window.gb = new JBA();

    $(function() {
      gb.gpu.set_canvas($('#gb')[0]);

      $('a.rom').click(function() {
        gb.load_rom($(this).attr('href'), function() { gb.run(); });
        return false;
      });

      $(window).keydown(function(e) { gb.memory.input.keydown(e.keyCode); });
      $(window).keyup(function(e) { gb.memory.input.keyup(e.keyCode); });

      setInterval(function() {
        $('#fps').text(gb.fps);
        gb.fps = 0;
      }, 1000);
    });
  </script>

  <style type="text/css">
    #gb {
      border: 1px solid black;
      display: block;
      margin: auto;
      margin-top: 10px;
    }

    a { float: left }
  </style>
</head>

<body>
  <a href='/roms/opus5.gb' class='rom'>opus5</a><br/>
  <a href='/roms/ttt.gb' class='rom'>ttt</a><br/>
  <a href='/roms/tetris.gb' class='rom'>tetris</a><br/>
  <a href='/roms/hangman.gb' class='rom'>hangman</a><br/>
  <a href='/roms/adjtris.gb' class='rom'>adjtris</a><br/>
  <a href='/roms/mario.gb' class='rom'>mario</a><br/>
  <a href='#' onclick='gb.stop(); return false;'>stop</a><br/>
  <div id='fps'></div>
  <canvas id='gb' height='144' width='160'></canvas>
</body>

</html>
