<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>

  <script type='text/javascript' src="../src/jba.js"></script>
  <script type='text/javascript' src="../src/cpu.js"></script>
  <script type='text/javascript' src="../src/rtc.js"></script>
  <script type='text/javascript' src="../src/gpu.js"></script>
  <script type='text/javascript' src="../src/memory.js"></script>
  <script type='text/javascript' src="../src/z80.js"></script>
  <script type='text/javascript' src="../src/z80/instructions.js"></script>

  <script type='text/javascript'>
    $(function() {
      var gb = new JBA();
    });
  </script>
</head>
<body>
  <canvas id='gb'></canvas>
</body>
</html>
