<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>

  <%= jba_js_include %>

  <script type='text/javascript'>
    $(function() {
      var gb = new JBA();
      $.get('/roms2/opus5.gb', function(data) {
        gb.memory.load_cartridge(data.file);
        gb.run();
      });
      window.gb = gb;
    });
  </script>
  <style type="text/css">
    #gb {
      border: 1px solid black;
      display: block;
      margin: auto;
      margin-top: 200px;
    }
  </style>
</head>
<body>
  <canvas id='gb' height='144' width='160'></canvas>
</body>
</html>
