<!DOCTYPE html>
<html>
<head>
  <title>JBA Tests</title>
  <link rel="stylesheet" href="http://github.com/jquery/qunit/raw/master/qunit/qunit.css" type="text/css" media="screen" />
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript" src="http://github.com/jquery/qunit/raw/master/qunit/qunit.js"></script>

  <%= jba_js_include %>

  <%= js_test_includes %>
</head>
<body>
  <h1 id="qunit-header">JBA</h1>
  <h2 id="qunit-banner"></h2>
  <div id="qunit-testrunner-toolbar"></div>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests"></ol>
  <div id="qunit-fixture"><canvas id='gb'></canvas></div>
</body>
</html>
